#{extends 'main.html' /} #{set title:'Public Blog Comments' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">WitPress</a> <a class="ui item" href="#">Sign
		Up</a> <a class="ui item" href="/login">Log In</a><a class="ui item"
		href="/blog">Blog</a> <a class="ui item" href="#">Blog Post</a> <a
		class="ui item" href="/publicBlogDirectory">Public Blog Directory</a>
	<a class="ui active item" href="#">Public Blog </a> <a class="ui item"
		href="/logout">Log out</a>
</nav>

<section class="ui blue segment">

	<div class="ui raised container blue segment">

		<p align="center">
			<img src="../public/images/banner.png">
		</p>

		<h2>Posted by: ${post.from.firstName} ${post.from.lastName}</h2>
		<p>Title:
		<div class="ui orange label">${post.title}</div>
		<br /> <br /> Content:
		<div class="ui orange label">${post.content}</div>
		</p>

		<h2>Comments:</h2>

		<hr />

		#{list items: postComments, as:'comment'}
		<section class="ui orange segment">
			<h3>${comment.content}</h3>
		</section>
		#{/list}

	</div>
	
</section>