#{extends 'main.html' /} #{set title:'Public Blog Directory' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">WitPress</a> <a class="ui item" href="#">Sign
		Up</a> <a class="ui item" href="/login">Log In</a><a class="ui item"
		href="/blog">Blog</a> <a class="ui item" href="#">Blog Post</a> <a
		class="ui item" href="/publicBlogDirectory">Public Blog Directory</a>
	<a class="ui active item" href="#">Public Blog </a> <a class="ui item"
		href="/logout">Log out</a>
</nav>

<section class="ui blue segment">

	<div class="ui raised container blue segment">

		<p align="center">
			<img src="../public/images/banner.png">
		</p>

		<h2>Posted-by: ${blogger.firstName} ${blogger.lastName}</h2>

		#{list items: myPosts, as:'post'}
		<section class="ui blue segment">
			<h2>
				<a href="/publicBlogComments/${post.id}">${post.title}</a> posted :
				${post.date}
			</h2>
		</section>
		#{/list}

	</div>
</section>