#{extends 'main.html' /} #{set title:'Public Blog Directory' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">WitPress</a> <a class="ui item" href="#">Sign
		Up</a> <a class="ui item" href="/login">Log In</a><a class="ui item"
		href="/blog">Blog</a> <a class="ui item" href="#">Blog Post</a> <a
		class="ui active item" href="/publicBlogDirectory">Public Blog
		Directory</a> <a class="ui item" href="#">Public Blog </a> <a
		class="ui item" href="/logout">Log out</a>
</nav>

<section class="ui blue segment">

	<div class="ui raised container blue segment">

		<p align="center">
			<img src="public/images/banner.png">
		</p>
		#{list items: bloggers, as: 'blogger'}
		<section class="ui purple segment">
			<h2>
				<a href="/publicBlog/${blogger.id}">${blogger.firstName}
					${blogger.lastName}</a>
			</h2>
		</section>
		#{/list}

	</div>
	
</section>