#{extends 'main.html' /} #{set title:'Blog' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">WitPress</a> <a class="ui item" href="#">Sign
		Up</a> <a class="ui item" href="#">Log In</a><a class="ui active item"
		href="/blog">Blog</a> <a class="ui item" href="#">Blog Post</a> <a
		class="ui item" href="/publicBlogDirectory">Public Blog Directory</a>
	<a class="ui item" href="#">Public Blog </a> <a class="ui item"
		href="/logout">Log out</a>
</nav>

<section class="ui blue segment">

	<div class="ui raised container blue segment">

		<p align="center">
			<img src="public/images/banner.png">
		</p>

		<div class="ui two column grid blue segment">

			<div class="ui eleven wide column">

				<form class="ui form blue segment" action="/addPost" method="POST">

					<div class="field">
						<input type="text" placeholder="choose a title" name="title"></input>
					</div>

					<div class="field">
						<textarea type="text" placeholder="write post here please"
							name="content"></textarea>
					</div>

					<button class="ui green submit button">Submit new Post</button>

				</form>

			</div>

			<div class="ui five wide column">
				<div class="ui blue segment">

					<div class="ui yellow label">Previous Posts:</div>

					#{list items: myPosts, as: 'posts'}
					<h3>
						<a href="/blogPost/${posts.id}">${posts.title}</a>
					</h3>
					<a href="/deletePost/${posts.id}"><button
							class="ui red submit button">Delete</button></a>
					<hr />
					#{/list}

				</div>

			</div>

		</div>

	</div>
</section>