#{extends 'main.html' /} #{set title:'BlogPost' /}


<nav class="ui blue menu">
	<a class="ui item" href="/">WitPress</a> <a class="ui item" href="#">Sign
		Up</a> <a class="ui item" href="#">Log In</a><a class="ui item"
		href="/blog">Blog</a> <a class="ui active item" href="#">BlogPost</a>
	<a class="ui item" href="/publicBlogDirectory">Public Blog
		Directory</a> <a class="ui item" href="#">Public Blog </a> <a
		class="ui item" href="/logout">Log out</a>
</nav>

<section class="ui blue segment">

	<div class="ui raised container blue segment">
		</img>

		<p align="center">
			<img src="../public/images/banner.png">
		</p>

		<p align="left">
		<h2>${post.title}</h2>
		<h3>${post.content}</h3>
		<hr />
		</p>


		<p align="left">
		<h2>Comments:</h2>
		#{list items: comments, as:'comment'}
		<h3>${comment.content}</h3>

		<a href="/deleteComment/${comment.id}"><button
				class="ui orange submit button">Delete comment</button></a> #{/list}
		<hr />
		</p>

		<section class="ui blue section">

			<form class="ui form blue segment" action="/addComment/${post.id}"
				method="POST">

				<div class="field">
					<textarea type="text" placeholder="Provide a comment here please"
						name="comContent"></textarea>
				</div>

				<button class="ui green submit button">New Comment</button>
				<hr />
			</form>
		</section>

	</div>
</section>