#{extends 'main.html' /} #{set title:'login' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">WitPress</a> <a class="ui item"
		href="/signup">Sign Up</a> <a class="ui active item" href="login">Log
		In</a><a class="ui item" href="#">Blog</a><a class="ui item" href="#">Blog
		Post</a> <a class="ui item" href="/publicBlogDirectory">Public Blog
		Directory</a> <a class="ui item" href="#">Public Blog </a> <a
		class="ui item" href="#">Log out</a>
</nav>

<section class="ui blue segment">

	<div class="ui raised container segment">


		<p align="center">
			<img src="public/images/banner.png">
		</p>

		<h1>Log into your account</h1>
		<h2>Your Username and Email you registered with:</h2>

		<form class="ui form segmrnt" action="/authenticate" method="POST">

			<div class="ui left icon input">
				<input placeholder="Email" type="text" name="email" required>
				<i class="user icon"></i>
			</div>

			<div class="ui left icon input">
				<input placeholder="**********" type="Password" name="password"
					required> <i class="unlock alternate icon"></i>
			</div>

			<br /> <br />
			<button class="ui green submit button">Submit</button>

		</form>

	</div>

</section>