#{extends 'main.html' /} #{set title:'signUp' /}


<nav class="ui blue menu">
	<a class="ui item" href="/">WitPress</a> <a class="ui active item"
		href="signup">Sign Up</a> <a class="ui item" href="login">Log In</a><a
		class="ui item" href="#">Blog</a> <a class="ui item" href="#">Blog
		Post</a> <a class="ui item" href="/publicBlogDirectory">Public Blog
		Directory</a> <a class="ui item" href="#">Public Blog </a> <a
		class="ui item" href="#">Log out</a>
</nav>

<section class="ui blue segment">

	<div class="ui raised container segment">

		<p align="center">
			<img src="public/images/banner.png">
		</p>

		<h1>Create a new witPress account....</h1>
		<h2>Sign Up:</h2>

		<form class="ui form segment" action="/register" method="POST">

			<div class="two fields">

				<div class="field">
					<label>First Name</label> <input placeholder="First Name"
						type="text" name="firstName" required>
				</div>

				<div class="field">
					<label>Last Name</label> <input placeholder="Last Name" type="text"
						name="lastName" required>
				</div>

			</div>

			<div class="field">
				<label>Email</label> <input placeholder="Email" type="text"
					name="email" required>
			</div>

			<div class="field">
				<label>Password</label> <input type="Password" placeholder="******"
					name="password">
			</div>

			<div class="ui toggle checkbox">
				<input name="agree" type="checkbox" id="agreeTerms" required>
				<label>Do you agree to our terms and conditions </label>
			</div>
			<br /> <br />

			<button class="ui green submit button">Submit</button>
			<div class="ui error message"></div>

		</form>
	</div>
</section>