#{extends 'main.html' /} #{set title:'Welcome' /}

<nav class="ui blue menu">
	<a class="ui active item" href="/">WitPress</a> <a class="ui item"
		href="signup">Sign Up</a> <a class="ui item" href="login">Log In </a>
	<a class="ui item" href="#">Blog</a> <a class="ui item" href="#">Blog
		Post</a> <a class="ui item" href="/publicBlogDirectory">Public Blog
		Directory</a> <a class="ui item" href="#">Public Blog </a> <a
		class="ui item" href="#">Log out</a>
</nav>

<section class="ui blue segment">

	<div class="ui raised container segment">
		<p align="center">
			<img src="public/images/banner.png">
		</p>

		<h1>Welcome to WitPress</h1>
		<h2>Come on in and blog your face off:</h2>

		<h4>
			<p>WordPress is a free and open-source content management system
				(CMS) based on PHP and MySQL. WordPress is installed on a web
				server,which either is part of an Internet hosting service or is a
				network host itself.</p>

			<p>The first case may be on a service like WordPress.com, for
				example, and the second case is a computer running the software
				package WordPress.org. An example of the second case is a local
				computer configured to act as its own web server hosting WordPress
				for single-user testing or learning purposes.</p>

			<p>
				Features include a plugin architecture and a template system.
				WordPress was used by more than 26.4% of the top 10 million websites
				as of April 2016. WordPress is the most popular blogging system in
				use on the Web at more than 60 million websites. Why not <a
					href="/login">login</a> or <a href="signup">sign up</a>
			</p>
			right now!!.
		</h4>

	</div>

</section>